
html { font-size: calc(1em + 1vw) }
.body:before{background-image:url("../images/ag9.jpg");background-repeat:no-repeat;
background-size:cover;background-attachment: fixed ;
  content: "";
  position: fixed;
  left:0 ;
  right:0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(3.2px);
}

#logo{display: inline-block;height: auto;position:absolute;left:65%;top:5%;
  width:27%;min-width: 50px;max-width: 115px;

		}

/*.titleAr{display:inline;position:absolute;right:5%;font-size:3.5vw;margin-top: 7%;
         color:#ffffff;text-shadow:4px 4px 4px #000000,-4px -4px 4px black;}
.titleAr2{display:inline;position:absolute;right:7%;top:4%;font-size:3.5vw;margin-top: 7%;line-height: 60px;
          color:#ffffff;text-shadow:4px 4px 4px #000000,-4px -4px 4px black;}

.titleEn{display:inline;position:absolute;left:50%;top:5%;font-size:3vw;color:#ffffff;margin-top: 2%;
	       text-shadow:4px 4px 4px #000000,-4px -4px 4px black;line-height: 5%;
	       }*/
         h1:first-of-type{display:inline-block;color:#ffffff;font-family:"arabic-typesetting";font-weight: bolder;
            text-shadow:4px 4px 4px #000000,-4px -4px 4px black;
            position:relative;left:10%;font-size:7vw;}
         h2:first-of-type{display:inline-block;color:#ffffff;font-family:"arabic-typesetting";font-weight: bolder;
             text-shadow:4px 4px 4px #000000,-4px -4px 4px black;
             position:relative;left:15%;font-size:7vw;
             line-height:60px;font-size-adjust: auto;}
         h3:first-of-type{display:inline-block;color:#ffffff;font-family:"arabic-typesetting";font-weight: bolder;
             text-shadow:4px 4px 4px #000000,-4px -4px 4px black;
             position:relative;text-align: center;font-size:5vw;
             line-height:45px;font-size-adjust: auto;}
         h3:last-of-type{display:inline-block;color:#ffffff;font-family:"arabic-typesetting";font-weight: bolder;
            text-shadow:4px 4px 4px #000000,-4px -4px 4px black;
            position:relative;text-align:center;font-size:5vw;
            line-height:normal;font-size-adjust: auto;}

    textfield {color:white;display: inline;}
          #name{font-size:80%;width: 90%;margin-left: 5%;display:inline;position:relative;}
          #pass{font-size:80%;width: 90%;margin-left: 5%;display: inline;}
          #enter{font-weight: bold;margin-left: 35%;}
          #footer{font-family: cursive;font-size: 80%;font-weight: bold;font-stretch:  ultra-expanded;margin-top: 4%;}

/*.titleEn2{display:inline;position:absolute;left:45%;top:13.5%;font-size:3vw;color:#ffffff;
	        text-shadow:4px 4px 4px #000000,-4px -4px 4px black;
	        }


#subtitle1{display: inline-block;float: none;color:#ffffff;position:absolute;top:20%;left:16%;font-size:235%;color:#ffffff;
	text-shadow:4px 4px 4px #000000,-4px -4px 4px black;margin-top: 9%;
}
/*
#subtitle2{display: inline-block;color:#000000;position:absolute;font-size:235%;top:35%;left:13%;
	color:#ffffff;text-shadow:4px 4px 4px #000000,-4px -4px 4px black;margin-top: 1%;
}
#textfield{display:inline-block;position:absolute;left:27%;top:45%;font-size:220%;color:#ffffff;
text-shadow:5px 5px 4px #000000;font-family:Helvetica;
;}
#name{font-size:80%;border-radius:7px;font-family:Helvetica;padding: 2.5%;display:inline;
;}
#pass{font-size:80%;border-radius:7px;font-family:Helvetica;padding: 2.5%;display:inline;margin-top: 2%;
;}
#enter{position:absolute;left:120%;top:20%;font-size:110%;border-radius:10%;font-family:"arial black";display:inline;
background-color:#6161FF;color:white;padding:1.5%;width:55%;height:25%;border:solid 1px #000000;}
#footer { display: inline-block;position: absolute;top:115%;width: 180%;
}
@media only screen
and (min-device-width : 300px)
and (max-device-width : 600px) and (orientation : portrait) {
	/*.body:before{background-image: url("../images/f.jpg");background-size:cover;
}
	#logo{max-width:25%;
	}
	.titleAr{font-size:4.5vw;
	}
	.titleAr2{font-size:4.5vw;
	}
	.titleEn{font-size:4.5vw;
	}
	.titleEn2{font-size:4.5vw;
	}
	/*
	.titleAr,.titleAr2{position:relative;left:11%;font-size:240%;top:5%;
	}
	.titleEn,.titleEn2{position:relative;left:-9.5%;font-size:240%;top:-1%;
	}
	.titleEn2{position:relative;left:3%;top:12%;
	}
	.titleAr2{position:relative;left:26%;top:12%;
	}
	#subtitle1{position:relative;top:30%;left:15%;font-size:240%;
	}
	#subtitle2{position:relative;top:20%;left:10%;font-size:240%;
	}
	#textfield{position:absolute;left:21%;top:42%;font-size:250%;
	}
	#name{
	}
	#pass{
	}
	#enter{position:absolute;left:85%;top:17%;font-size:100%;width: 45%;height: 25%;
	}
	#footer{position: relative;width: 100%;left:8%;
	}
}



@media only screen
    and (min-device-width : 700px)
    and (max-device-width : 900px) {
.body:before{background-image: url("../images/ag9.jpg")}
#logo{width:13%;
		position:relative;
		left:46%;margin-top:3%;
}
.titleAr,.titleAr2{position:absolute;left:67%;font-size:220%;top:2.5%;
}
.titleEn,.titleEn2{position:absolute;left:4%;font-size:220%;top:2%;
}
.titleEn2{position:absolute;left:5%;top:10%;
}
.titleAr2{position:absolute;left:65%;top:10%;
}
#subtitle1{position:absolute;top:21%;left:19%;font-size:210%;
}
#subtitle2{position:absolute;top:39%;left:17%;font-size:210%;
}
#textfield{position:absolute;left:33%;top:49%;font-size:175%;
}
#enter{position:absolute;left:110%;top:17%;font-size:100%;width: 45%;height: 25%;
}
#footer{position: absolute;width: 110%;left:8%;top:91%;font-size: 85%;
}
}

@media only screen
    and (min-device-width : 901px)
    and (max-device-width : 1024px) {
.body:before{background-image: url("../images/ag9.jpg")}
#logo{width:13%;
		position:relative;
		left:46%;margin-top:3%;
}
.titleAr,.titleAr2{position:absolute;left:67%;font-size:210%;top:1.5%;
}
.titleEn,.titleEn2{position:absolute;left:4%;font-size:210%;top:1%;
}
.titleEn2{position:absolute;left:5%;top:8%;
}
.titleAr2{position:absolute;left:67%;top:8%;
}
#subtitle1{position:absolute;top:21%;left:19%;font-size:200%;
}
#subtitle2{position:absolute;top:43%;left:17%;font-size:200%;
}
#textfield{position:absolute;left:33%;top:51%;font-size:175%;
}
#enter{position:absolute;left:110%;top:17%;font-size:100%;width: 45%;height: 25%;
}
#footer{position: absolute;width: 110%;left:8%;top:80%;font-size: 85%;
}
}
@media only screen
    and (min-device-width : 1025px)
    and (max-device-width : 1390px) {
.body:before{background-image: url("../images/ag9.jpg")}
#logo{width:10%;
		position:relative;
		left:46%;margin-top:3%;
}
.titleAr,.titleAr2{position:absolute;left:68%;font-size:210%;top:1.5%;
}
.titleEn,.titleEn2{position:absolute;left:4%;font-size:210%;top:1%;
}
.titleEn2{position:absolute;left:5%;top:9%;
}
.titleAr2{position:absolute;left:69%;top:10%;
}
#subtitle1{position:absolute;top:22%;left:29%;font-size:200%;
}
#subtitle2{position:absolute;top:48%;left:26%;font-size:200%;
}
#textfield{position:absolute;left:37%;top:57%;font-size:135%;
}
#enter{position:absolute;left:110%;top:17%;font-size:100%;width: 45%;height: 25%;
}
#footer{position: absolute;width: 110%;left:8%;top:78%;font-size: 85%;
}
}



/* Large screens 20 inch--- */
/*@media only screen
and (min-width : 1600px) {
	.body:before{background-image: url("../images/c.jpg")}

}
*/
@media screen and (min-width: 765px) { h1:first-of-type{font-size: 3.8vw;
}
h2:first-of-type{font-size: 3.8vw;
}
}
@media screen and (min-width: 1000px) {
