

html { font-size: calc(1em + 1vw) }
body{background-color: #A0D6E4;}

header{display:inline-block;margin-top: 0.5%;
background-image:url('../images/d.jpg');
background-repeat:no-repeat;
background-size:cover;
background-attachment: fixed ;
position: relative;

display: inline-block;
width: 100%;
height:auto;
background-blend-mode: overlay;
text-align:center;
}
#welcome{border-top:1px solid brown;position:relative;}
#doctorname{position:relative;}
h1{display:inline-block;font-size: 6vw;color:#FF0505; background-color: #ffffff;height: auto;text-align: center;
  border: 1px solid transperancy;
  opacity: 0.8;font-family:"arabic-typesetting";font-weight: bolder;line-height: 35px;

}
h2{font-size: 5vw;color:green; background-color: #ffffff;height: auto;text-align: center;
  border: 1px solid transperancy;line-height: 35px;
  opacity: 0.8;font-family:"arabic-typesetting";font-weight: bolder;
}
/*
div.transbox {
  background-color: #ffffff;
  border: 1px solid transperancy;
  opacity: 0.7;
  margin: -2%;
  display: inline;
  border-radius: 7px;
}
div.transbox p {
  font-weight: bold;
  color: #000000;
  display:inline;
  padding: 3%;
}
*/
nav[class^="navbar"]{height: auto;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;position: relative;
  border-bottom:1px solid brown;}
a[href^="menu3"]{display: none;}


.mainlinks {display:block;float: right;
color:#002AFF;
font-weight: bolder;
font-size:5vw;
text-decoration: underline;border:2px solid transperancy;border-radius: 50px;font-family:"arabic-typesetting";
}

/*
#name{color:#000000;z-index:1;
text-shadow: 5px 7px 5px white,-7px -5px 5px white ;font-size:220%;text-decoration: underline;}
#welcomenote{color:#51E15A;z-index:1;border:solid 1px transperancy;display: INLINE;padding: 0.25%;
font-size:190%;}
#section1 {display:inline-block;background-image:linear-gradient(to left,#99FFB3,#E0FFF9);margin-top:0.5%;padding: 2%;
  float:right;width:17%;height:100vh;border-top: solid 2px transperancy;border-top-right-radius: 25px;}
  */
#section2 {display:block;position:relative;background-color:white;font-family: "Lateef";margin:auto;padding: 3%;margin-top:2%;
  width:90.5%;border-radius: 10px;}
#title{color:blue; text-decoration : none; font-weight: bolder ;
  text-align: center;font-size: 7vw;padding-top: 0.5%;font-family:"arabic-typesetting";padding:3%;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#list{font-size: 6vw;font-weight: bolder;font-family:"arabic-typesetting";padding: 3%;
  text-align: center;color:black;text-decoration: none;
  line-height: 20px;background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px;line-height: 30px;
}
.mainlinks:hover {opacity:1;}
#active {opacity:1;color:red;text-shadow:4px 4px 4px white , 6px 6px 6px black;}
	 iframe{display:inline;width: 90%;height: 100vh;position:relative;margin-top: 2%;
   }

    /* tablets and desktop
    /*
   @media all and (max-width: 1440px) {
   iframe{display:inline;width: 87%;height: 85vh;position:relative;left:6%;top:26%;margin-top: 4%;
   }
   .title{font-size: 140%;padding-top: 1%;}
   .list{font-size: 120%;line-height: 150%;}
   #section2 {margin-top: 3%;}
   header{padding-bottom: 3%;}
   }
   */
   @media screen and (min-width: 378px) {
     h1{font-size: 5.5vw;}
     h2{font-size: 4.5vw;}
     .mainlinks {font-size: 4.5vw;}
    #title{font-size: 5vw;}
      #list{font-size: 4.5vw;}
   }
   @media screen and (min-width: 576px) {
   h1{font-size: 4.5vw;;line-height: 55px;}
   h2{font-size: 4vw;;line-height: 55px;}
   .mainlinks {font-size: 3.5vw;}
  #title{font-size: 4vw;}
    #list{font-size: 3vw;margin-top:-3%;}
   }
   @media screen and (min-width: 768px) {
     h1{font-size: 5vw;font-family: "Lateef";line-height: 70px;}
     h2{font-size: 4vw;font-family: "Lateef";line-height: 70px;}
     .mainlinks {font-size: 4vw;font-family: "Lateef"}
    #title{font-size: 4vw;font-family: "Lateef"}
      #list{font-size: 3vw;font-family: "Lateef";margin-top:-3%}
   }
  @media screen and (min-width: 900px) {
    h1{font-size: 4vw;font-family: "Lateef";line-height: 70px;}
    h2{font-size: 3.5vw;font-family: "Lateef";line-height: 70px;}
    .mainlinks {font-size: 3vw;font-family: "Lateef"}
   #title{font-size: 3.5vw;font-family: "Lateef"}
     #list{font-size: 3vw;line-height: 45px;font-family: "Lateef";margin-top:-3%}
   }
    @media screen and (min-width: 1200px) {
      h1{font-size: 3.5vw;font-family: "Lateef";line-height: 70px;}
      h2{font-size: 3vw;font-family: "Lateef";line-height: 70px;}
      .mainlinks {font-size: 3.5vw;font-family: "Lateef"}
     #title{font-size: 3.5vw;font-family: "Lateef"}
       #list{font-size: 3vw;line-height: 50px;font-family: "Lateef";margin-top:-3%;}
    }
