

h1{display:inline;
	position:absolute;}
.body:before{background-image:url("../images/ag9.jpg");background-repeat:no-repeat;background-size:cover;background-attachment:fixed;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  filter: blur(3.2px);
}
#logo{width:10.2%;
		position:absolute;
		left:45.6%;margin-top:1.5%;
		}
.titleAr,.titleAr2{position:absolute;right:5%;font-size:250%;display:inline;margin-top: 3%;
color:#ffffff;text-shadow:4px 4px 4px #000000,-4px -4px 4px black;}
.titleEn,.titleEn2{position:absolute;left:3.5%;font-siz	e:210%;color:#ffffff;text-shadow:4px 4px 4px #000000,-4px -4px 4px black;
	margin-top: 3%;}
.titleEn2{position:absolute;left:5%;top:12%;display:inline}
.titleAr2{position:absolute;right:8.5%;top:12%;display:inline;}
#subtitle1{color:#ffffff;position:absolute;top:31%;left:27%;font-size:195%;color:#ffffff;
	text-shadow:4px 4px 4px #000000,-4px -4px 4px black;margin-top: 3%;
}
#subtitle2{color:#000000;position:absolute;font-size:195%;top:40%;left:25%;
	color:#ffffff;text-shadow:4px 4px 4px #000000,-4px -4px 4px black;margin-top: 3%;
}
#textfield{display:inline;position:absolute;left:37%;top:58%;font-size:145%;color:#ffffff;
text-shadow:5px 5px 4px #000000;font-family:Helvetica;
;}
#name{font-size:80%;border-radius:7px;font-family:Helvetica;padding: 2.5%;display:inline;
;}
#pass{font-size:80%;border-radius:7px;font-family:Helvetica;padding: 2.5%;display:inline;margin-top: 2%;
;}
#enter{position:absolute;left:130%;top:30%;font-size:110%;border-radius:10%;font-family:"arial black";display:inline;
background-color:#6161FF;color:white;padding:1.5%;width:55%;height:35%;border:solid 1px #000000;}
#footer { display: inline;position: absolute;top:115%;width: 180%;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.body:before{background-image: url("../images/2.jpg")}

}
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) {
		.body:before{background-image: url("../images/a.jpg")}

	}
	/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	.body:before{background-image: url("../images/b.jpg")}

}


